<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="title">
			<h1>
				客服專員
			</h1>
		</div>
		<div class="col-md-10 col-md-offset-1 text-center">
			小提示
		</div>
		<div class="col-md-10 col-md-offset-1 text-center">
			業務代表通常能提供比網站上還低的驚喜價格！<br>
			趕快詢問他吧！
		</div>
	
		<div class="col-md-6 text-right">
			<%= image_tag "QR.png",width:"250px" %>
		</div>

		<div class="col-md-6" style="margin-top: 40px; padding-left: 20px;">
			<%= image_tag "name.png",width:"300px" %>
		</div>


	</div>
</div>