<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="title">
			<h1>
				數位有線電視
			</h1>
		</div>
		<div class="col-md-8 col-md-offset-2" id="content">
			&nbsp&nbsp&nbsp&nbsp傳統的類比有線電視，其傳輸原理及技術，均是針對傳統映像管電視(CRT)所設計，因此當家中換購了新型大尺寸的液晶或電漿、LED電視後，往往覺得有線電視的節目畫質不盡滿意，即使藉由電視機的各種訊號處理功能，仍是無法呈現清晰亮麗的節目。<br><br>
			
			&nbsp&nbsp&nbsp&nbsp有別於傳統的類比有線電視，凱擘大寬頻數位有線電視是將節目內容予以數位化，透過有線電視的HFC光纖同軸混合網路傳送到用戶家中，此種訊號傳送方式，能夠完全符合新型電視的設計，擺脫以往充滿雜訊干擾的收訊狀況。同時數位機上盒具備資料回傳的能力，使得用戶可以使用雙向互動的服務與功能。
		</div>

		<div class="col-md-10 col-md-offset-1 text-center">
			<a href="#/" id="show-btn">
				<div class="col-md-12">
					打開看更多特點說明
				</div>
				<div class="col-md-12">
					<%= image_tag "tri-up.png",width:"624px" %>
				</div>
			</a>
		</div>

		<div class="col-md-8 col-md-offset-2" id="hide-content">
			<h3 style="color: #ee7066;">超高畫質：</h3> 
			&nbsp&nbsp&nbsp&nbsp經由數位化訊號處理，高畫質頻道的畫面解析度達1920×1080，是一般標準畫質頻道的6倍！與藍光光碟播放的影片有相同的解析度！即使是一般畫質的頻道，也由於數位訊號具有可加密、可壓縮、可做錯誤更正的特性，影音的品質皆可大幅度的減少因傳輸過程或分接所造成的訊號損失，節目不會再有雪花紋、水波紋、疊影、串音干擾現象。

			<h3 style="color: #ee7066;">5.1聲道環繞音效：</h3> 
			&nbsp&nbsp&nbsp&nbsp可傳輸5.1聲道杜比環繞音效，只要接上家中的家庭劇院設備，即可享受身歷其境的逼真音響效果。服務更多元

			<h3 style="color: #ee7066;">雙向互動服務：</h3> 
			&nbsp&nbsp&nbsp&nbsp數位有限電視能提供電子節目表單、多畫面頻道預覽、自訂喜好頻道、節目分級、節目預約提醒、隨選影片服務、時移電視功能(Time shift)、電視錄影功能(PVR)、親子密碼鎖、電視郵件、即時天氣查詢、電視遊戲等多樣化的雙向服務功能，未來也預計推出VOD、互動電視購物...等更多服務。
		</div>

		<div class="col-md-10 col-md-offset-1 text-center">
			<a href="#/"  id="hide-btn">
				<div class="col-md-12">
					<%= image_tag "tri-down.png",width:"624px" %>
				</div>
				<div class="col-md-12">
					收起特點說明
				</div>
			</a>
			
		</div>

		<div class="col-md-12 text-center" style="margin-top:30px; margin-bottom:30px;">
			<%= image_tag "tv.jpg",width:"624px" %>
		</div>
		<div class="col-md-12 text-center" style="margin-top:20px;">
			<%= image_tag "tv2.jpg",width:"624px" %>
		</div>



	</div>
</div>