<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="title">
			<h1>
				服務據點
			</h1>
		</div>

		<div class="col-md-6 text-center" style="margin-top:20px; margin-bottom: 80px;">
			<%= image_tag "map.png",width:"300px" %>
		</div>

		<div class="col-md-6" style="margin-top:20px; margin-bottom: 80px;">
			&#x25cf;<span class="location">陽明山有線電視</span><br>
			台北市北投區北投路二段13號5樓<br>
			(北投捷運站對面的麥當勞樓上)<br><br>
			&#x25cf;<span class="location">新台北有線電視</span><br>
			台北市南港區松河街386號1樓<br>
			(南港路3段上中華賓士對面巷底)<br><br>
			&#x25cf;<span class="location">金頻道有線電視</span><br>
			台北市中正區八德路二段260號8樓<br>
			(中影大樓)<br><br>
			&#x25cf;<span class="location">大安文山有線電視</span><br>
			台北市文山區木柵路二段204號15樓<br>
			(文山區分局旁加油站正後方)<br><br>

		</div>



	</div>
</div>