<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="title">
			<h1>
				每月特別活動
			</h1>
		</div>
		<div class="col-md-10 col-md-offset-1 text-center" id="content">
			詳細情形請聯絡
			<%= link_to "客服專員", helper_welcome_index_path %>
			！
		</div>
		<div class="col-md-10 col-md-offset-1 text-center" id="content">
			<%= image_tag "month.jpg" %>
		</div>

		<div class="col-md-12 col-md-offset-1 text-center">

		</div>



	</div>
</div>