<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="title">
			<h1>
				極速光纖網路
			</h1>
		</div>
		<div class="col-md-10 col-md-offset-1" id="content">
			&nbsp&nbsp&nbsp&nbsp傳統的類比有線電視，其傳輸原理及技術，均是針對傳統映像管電視(CRT)所設計，因此當家中換購了新型大尺寸的液晶或電漿、LED電視後，往往覺得有線電視的節目畫質不盡滿意，即使藉由電視機的各種訊號處理功能，仍是無法呈現清晰亮麗的節目。<br><br>
			
			&nbsp&nbsp&nbsp&nbsp有別於傳統的類比有線電視，凱擘大寬頻數位有線電視是將節目內容予以數位化，透過有線電視的HFC光纖同軸混合網路傳送到用戶家中，此種訊號傳送方式，能夠完全符合新型電視的設計，擺脫以往充滿雜訊干擾的收訊狀況。同時數位機上盒具備資料回傳的能力，使得用戶可以使用雙向互動的服務與功能。
		</div>

		<div class="col-md-10 col-md-offset-1 text-center">
			<a href="#/" id="show-btn">
				<div class="col-md-12">
					打開看更多特點說明
				</div>
				<div class="col-md-12">
					<%= image_tag "tri-up.png",width:"624px" %>
				</div>
			</a>
		</div>

		<div class="col-md-8 col-md-offset-2" id="hide-content">
			<h3 style="color: #ee7066;">光纖電纜上網超快：</h3> 
			使用光纖同軸電纜(HFC)上網，比同等級的ADSL寬頻大數倍，上網速度極快。

			<h3 style="color: #ee7066;">不用電路月租費：</h3> 
			上網費用單純，只需繳交一筆上網費用，不必再繳電路月租費。免電話撥接，可省下電話費。

			<h3 style="color: #ee7066;">不需繁雜設定：</h3> 
			不需繁雜設定，即使電腦初學者都可輕易使用。開機即上網(Always on)。

			<h3 style="color: #ee7066;">安裝時間快速彈性</h3>
			假日可彈性配合客戶時間安裝，且安裝時間快速簡便，最適合上班一族申請。

		</div>

		<div class="col-md-10 col-md-offset-1 text-center">
			<a href="#/"  id="hide-btn">
				<div class="col-md-12">
					<%= image_tag "tri-down.png",width:"624px" %>
				</div>
				<div class="col-md-12">
					收起特點說明
				</div>
			</a>
			
		</div>

		<div class="col-md-12 text-center" style="margin-top: 30px;">
			<%= image_tag "net.jpg",width:"624px" %>
		</div>
		<div class="col-md-12 text-center" style="margin-top: 20px;">
			<%= image_tag "net2.jpg",width:"624px" %>
		</div>




	</div>
</div>