<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="title">
			<h1>
				安全防護系統
			</h1>
		</div>
		<div class="col-md-10 col-md-offset-1" id="content">
			&nbsp&nbsp&nbsp&nbspHomeSecurity智能保全提供數位家庭完善的影像監控與智慧防護功能，讓您隨時關心並觀看家中情形，無須透過客服人員與監看中心，家中影像隨時看，讓您更放心。<br><br>
			&nbsp&nbsp&nbsp&nbsp透過網路攝影機和各式感測器，將家中影像傳送至雲端硬碟儲存，並能即使發送告警訊息推播，以手機簡訊與電子郵件通知家中發生之異狀 讓您即使掌握家中情形。

		</div>

		<div class="col-md-10 col-md-offset-1 text-center">
			<a href="#/" id="show-btn">
				<div class="col-md-12">
					打開看更多特點說明
				</div>
				<div class="col-md-12">
					<%= image_tag "tri-up.png",width:"624px" %>
				</div>
			</a>
		</div>

		<div class="col-md-8 col-md-offset-2" id="hide-content">

			<h3 style="color: #ee7066;">多螢監看 雲端儲存：</h3> 
			&nbsp&nbsp&nbsp&nbsp您可透過桌上型/筆記型電腦、智慧型手機/平板、SuperMOD等多種不同的螢幕裝置使用本服務，24小時無論身在何處，皆可隨時關心家中情形，並能將錄下之影像儲存於雲端硬碟。

			<h3 style="color: #ee7066;">四大模式 簡單設定：</h3> 
			&nbsp&nbsp&nbsp&nbsp依不同方案可提供多種使用模式，您可自由選擇「居家」、「外出」、「夜間」、「自訂」等四種模式，快速並簡單的操作服務，即使出門在外也能輕鬆一指搞定。

			<h3 style="color: #ee7066;">異常警告 主動通知：</h3> 
			&nbsp&nbsp&nbsp&nbsp透過網路攝影機與各式感測器，偵測到異狀皆會立即以手機簡訊與電子郵件通知您與聯絡人，並可自行設定緊急聯絡人名單，任何風吹草動皆能隨時主動通報。

			<h3 style="color: #ee7066;">遠端控制 智慧感測：</h3> 
			&nbsp&nbsp&nbsp&nbsp智慧型煙霧感測器與門窗感測器，讓您輕鬆偵測火災和宵小入侵問題，隨時守護家人安全；電源控制器更能進行家中的電力控制設定，開關燈節能真輕鬆。
			※注意事項：申請本服務須使用本公司光纖上網24M/5M(含)以上寬頻。


		</div>

		<div class="col-md-10 col-md-offset-1 text-center">
			<a href="#/"  id="hide-btn">
				<div class="col-md-12">
					<%= image_tag "tri-down.png",width:"624px" %>
				</div>
				<div class="col-md-12">
					收起特點說明
				</div>
			</a>
			
		</div>

		<div class="col-md-12 text-center" style="margin-top: 30px;">
			<%= image_tag "safe.jpg",width:"624px" %>
		</div>

		<div class="col-md-12 text-center" style="margin-top: 20px;">
			<%= image_tag "safe2.jpg",width:"624px" %>
		</div>

		

	</div>
</div>