<div class="container" id="footer">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center" id="footer-nav">
			<div class="col-md-2 col-md-offset-1">
				數位電視
			</div>
			<div class="col-md-2">
				光纖上網
			</div>
			<div class="col-md-2">
				防護系統
			</div>
			<div class="col-md-2">
				服務據點
			</div>
			<div class="col-md-2">
				聯絡我們
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2 text-center">
			copyright @ 大台北網路資訊
		</div>
		<div class="col-md-2">
			網頁製作：群體資訊
		</div>
	</div>
</div>