<!-- 標題列 -->
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<h1>大台北網路資訊</h1>
		</div>
<!-- 右按鈕兩顆 -->
		<div class="col-md-3">
			<div class="col-md-6">
				<div class="col-md-12">
					
				</div>
				<div class="col-md-12">
					服務據點
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12">
					
				</div>
				<div class="col-md-12">
					客服專業
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 導覽列 -->
<div class="bg-brown" id="nav-border">
	<div class="container">
		<div class="row">
	<!-- 提示 -->
			<div class="col-md-12 bg-brown text-center" id="nav">
				
				<div class="col-md-2 col-md-offset-1 bg-pink">
					數位有線電視
				</div>
				<div class="col-md-2 bg-lightblue">
					極速光纖網路
				</div>
				<div class="col-md-2 bg-lightgreen">
					安全防護系統
				</div>
				<div class="col-md-2 bg-lightyellow">
					每月特別活動
				</div>
				<div class="col-md-2 bg-black">
					本站獨家優惠
				</div>

			</div>
		</div>
	</div>
</div>